# <span style="color:#000033;font-size:25px;text-align: center;"><center>**Comparing Similarity between three Nat geo articles**</center> </span>

### Importing libraries

In [9]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer

<span style="font-size:17px;"><b>Source:</b></span> <br>
<span style="font-size:14px;">"<u>Latest in Travel: Flights from Pune to Singapore, Quarantine-Free Travel to Taiwan and More</u>"<br>
BY Lakshmi Sankaran<br>
Posted On October 18, 2022</span>

In [10]:
document1="""Direct flights from Pune to Singapore
Travellers can now fly directly between Pune and Singapore starting December 2, courtesy Vistara which will kick off three to 
four flights every week. International connections from Pune are rare (right now, Dubai is the sole one); visitors normally rely
on Mumbai airport for the same. However, authorities are now planning to connect the city to two more Southeast Asian countries 
once the Singapore route is up and running."""

<span style="font-size:17px;"><b>Source:</b></span> <br>
<span style="font-size:14px;">"<u>Latest in Travel: Goa’s New International Airport, Bali 5-Year Remote Work Visa and Oslo’s Dramatic National Museum</u>"<br>
BY Lakshmi Sankaran<br>
Posted On June 11, 2022</span>

In [11]:
document2="""Direct flights between Mumbai and Ho Chi Minh City and Hanoi
After connecting Delhi with direct flights to Vietnam’s two major cities, VietJet has now officially announced the same from 
Mumbai. Flights between Mumbai and Ho Chi Minh City and Hanoi will run three-four times a week. An additional flight connecting
Mumbai to Phu Quoc is also in the offing.
 """

<span style="font-size:17px;"><b>Source:</b></span> <br>
<span style="font-size:14px;">"<u>Latest in Travel: Latest in Travel: Schengen Digital Visa for Smoother EU Trips</u>"<br>
BY Lakshmi Sankaran<br>
Posted On May 21, 2022</span>

In [12]:
document3="""Schengen visa process to go digital
In a bid to ease paperwork for millions of tourists, the EU has proposed to make the Schengen visa process an online application
system in the next few years. The Schengen visa allows travellers to visit and travel across 26 EU member nations for up to 90 
days. Right now, tourists submit their visa application to a country’s local consulate and collect their passports in person 
once the visa is issued—a time-consuming process which became complicated during the last two years of the pandemic. The new 
proposal envisions a single digital visa application platform for all EU countries. Instead of a physical sticker, the visa is 
expected to be a cryptographically signed 2D bar co"""

### Vectorizing the documents

In [13]:
documents=[document1,document2,document3]

In [14]:
vectorize=CountVectorizer(stop_words="english",)
corpus=vectorize.fit(documents)

In [15]:
pd.Series(corpus.vocabulary_).sort_values()

26             0
2d             1
90             2
additional     3
airport        4
              ..
visit         95
visitors      96
vistara       97
week          98
years         99
Length: 100, dtype: int64

In [16]:
sparse_matrix=corpus.transform(documents)

In [25]:
doc_matrix=sparse_matrix.todense()
df=pd.DataFrame(doc_matrix,columns=vectorize.get_feature_names_out(),index=["document1","document2","document3"])

In [26]:
df

,26,2d,90,additional,airport,allows,announced,application,asian,authorities,...,travel,travellers,vietjet,vietnam,visa,visit,visitors,vistara,week,years
document1,0,0,0,0,1,0,0,0,1,1,...,0,1,0,0,0,0,1,1,1,0
document2,0,0,0,1,0,0,1,0,0,0,...,0,0,1,1,0,0,0,0,1,0
document3,1,1,1,0,0,1,0,3,0,0,...,1,1,0,0,7,1,0,0,0,2

### Checking for similarity between the three articles using cosine_similarity

In [27]:
from sklearn.metrics .pairwise import cosine_similarity
similarity=cosine_similarity(df,df)

In [28]:
print(similarity)

[[1.         0.2522523  0.03516054]
 [0.2522523  1.         0.        ]
 [0.03516054 0.         1.        ]]

#### From the similarity matrix we can infer that the cosine angle between document1 and document2 are more, hence document1 and document2 are more similar among the three documents

In [129]:
d1=df.loc["document1"].to_dict()
doc1_words=[i for i in d1 if d1[i]!=0]

In [130]:
d2=df.loc["document2"].to_dict()
doc2_words=[i for i in d2 if d2[i]!=0]

In [131]:
d3=df.loc["document3"].to_dict()
doc3_words=[i for i in d3 if d3[i]!=0]

In [132]:
doc1_2=[x for x in doc1_words if x in doc2_words]
doc1_2

['city', 'direct', 'flights', 'mumbai', 'week']

In [134]:
doc1_3=[x for x in doc1_words if x in doc3_words]
doc1_3

['countries', 'right', 'travellers']

In [135]:
doc2_3=[x for x in doc2_words if x in doc3_words]
doc2_3

[]

One can see that document 1 and 2 share more common words compared to documents 1 and 3, and 2 and 3. This is obvious as documents 1 and 2 talk about <b>Direct flights</b> where as document 3 talk about <b>Visa Process</b>. Hence we have verified manually also that documents 1 and 2 are more similar